@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mukta S</h1>
    <p>Library Management ASP.NET <a href="https://docs.microsoft.com/aspnet/core">Library Management App</a>.</p>
</div>
